- membership_counter = local_assigns[:membership_counter].presence || 0
.flex.justify-between.border-b.border-gray-300.p-4{ id: dom_id(membership), class: membership_counter == 0 ? "border-t" : "" }
  = link_to admin_membership_path(membership), class: "flex justify-start items-end gap-2 hover:text-emerald-500" do
    - if source_type == "User"
      %p.text-xl.m-0= membership.troop_name
      %p.text-sm{ class: "pb-0.5" } ##{membership.troop_number}
    - elsif source_type == "Troop"
      %p.text-xl.m-0= membership.user_name
      %p.text-sm{ class: "pb-0.5" }= membership.user_email
    .pl-6.mb-1.flex.text-white.text-sm
      - if membership.current?
        %p.px-2.rounded.bg-emerald-700 Current


  %div
    = link_to "Delete", admin_membership_path(membership), data: { 'turbo-confirm': "Are you sure?", 'turbo-method': :delete }, class: "text-red-500", role: "menuitem"
