- if params[:cancel]
  = turbo_stream.replace 'new-membership-btn' do
    = link_to 'New Membership',
      new_admin_membership_path(**membership_url_params(@source)),
      id: 'new-membership-btn',
      class: 'btn btn-new mb-2',
      'data-turbo-stream': true
  = turbo_stream.remove 'new-membership-form'
- else
  = turbo_stream.prepend 'memberships' do
    = render 'form', membership: @membership

  = turbo_stream.replace 'new-membership-btn' do
    = link_to 'Cancel New Membership',
      new_admin_membership_path(**membership_url_params(@source, cancel: true)),
      id: 'new-membership-btn',
      class: 'btn btn-default mb-2',
      'data-turbo-stream': true
