.flex.justify-center
  .flex.flex-col.gap-8(class="w-3/5")
    %p.text-2xl Sign In
    = form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'flex flex-col gap-6' } do |f|
      .relative
        = f.label :email, 'Email', class: "basic-label"
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "basic-input"
      .relative
        = f.label :password, 'Password', class: "basic-label"
        = f.password_field :password, autocomplete: "new-password", placeholder: "Password", class: "basic-input"
      - if devise_mapping.rememberable?
        = f.label :remember_me do
          = f.check_box :remember_me, class: 'text-emerald-500 focus:ring-emerald-500'
          %span.pl-2 Remember me
      .flex.justify-end
        = f.submit "Log in", class: 'btn btn-primary'
    .flex.flex-col.gap-1
      = render "devise/shared/links"
